#foreground-canvas{
    pointer-events: none;
}
#background-canvas{
    pointer-events: none;
}

#main_display {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25% auto;

    justify-items: center;

}

#main_title {
    display: block;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;

    font-size: 10em;
    font-family: 'Wire One';
}

#main_content {
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    white-space: pre-wrap;

    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto 10% 10% 10% 20%;

    grid-template-areas: 
    "price price"
    "graph graph"
    "buy sell"
    "coins coins"
    "wallet wallet"
    "value value";

    justify-items: center;
    align-items: center;

}

#price{
    grid-area: price;
    font-size: 5em;
    font-family: 'Roboto';
}
#graph{
    display: block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    grid-area: graph;
}
#buy{
    font-size: 2em;
    font-family: 'Roboto';
    grid-area: buy;
}
#sell{
    font-size: 2em;
    font-family: 'Roboto';
    grid-area: sell;
}
#coins{
    grid-area: coins;
    font-size: 2em;
    font-family: 'Roboto';
}
#wallet{
    grid-area: wallet;
    font-size: 2em;
    font-family: 'Roboto';
}
#value{
    grid-area: value;
    font-size: 5em;
    font-family: 'Roboto';
}

.bad-input {
    animation: badInput 1s;
}
@keyframes badInput {
    0% {color: red; transform: scale(1.5);}
    100% {color: black; transform: scale(1);}
}